.footer {
  background-color: black;
  color: white;
  position: static;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem 0;
  margin: 2rem 0 0 0;
  z-index: 1;
}

.footer li {
  margin: 0 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
